.button{
    left: 19px;
    padding: 1px 12px 1px 12px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    &__second{
        margin: 0 auto;
        width: 259px;
        height: 63px;
        display: flex;
        justify-content: center;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
        font-size: 18px;
        line-height: 63px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    }
}