.footer{
    &__divider{
        width: 301px;
        height: 7px;
        margin: 12px auto 4.5px auto;
        background: #1FBAD6;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 156px;
        &-round{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: #070716;
        }
        img{
            margin-top: 9px;
            margin-left: 9px;
        }
    }
    &__items{
        margin-left: 179px;
        width: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-menu{
            margin-top: 15px;
            width: 410px;
            font-weight: 300;
            font-size: 15px;
            line-height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            color: #070716;
        }
        &-second{
            width: 410px;
            font-weight: 300;
            font-size: 11px;
            line-height:30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            color: #999999;
        }
        &-langueges{
            font-size: 11px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #1FBAD6;
        }

    }
    &__markets{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 296px;
        height: 27px;
        &-block{
            background: #A9A9A9;
            width: 95px;
            height: 27px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}