.title{
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    &__fz36{
        display: flex;
        justify-content: center;
        font-weight: 900;
        font-size: 36px;
        line-height: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__white{
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }
    
}